<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="title" color="primary" href="/login"
      style="text-decoration: none; font-family: 'Pacifico', cursive;"><a href="/login">BraveKey</a>
      <ion-icon class="blank"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="blank"></ion-icon>
    
    <ion-title class="title">Recuperar contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
    
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="mail-outline" class="person"></ion-icon>
        <ion-icon name="key" class="key">
        </ion-icon>
      </ion-col>


    </ion-row>
    <ion-row class="ion-align-items-center">
      <p style="text-align: center;">
        Recibirás un correo en la dirección que indiques para poder restablecer la contraseña.
      </p>
    </ion-row>
  </ion-grid>


  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input clearInput [(ngModel)]="email">
    </ion-input>
  </ion-item>
  <br>
  <br>

  <ion-button expand="block" id="botonTema" (click)="resetPassword()">
    Aceptar
  </ion-button>

  <br>

  <ion-button expand="block" color="danger" href="/login">
    Cancelar
  </ion-button>
</ion-content>