<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="title" color="primary" href="/login"
      style="text-decoration: none; font-family: 'Pacifico', cursive;"><a href="/login">BraveKey</a>
      <ion-icon class="blank"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p style="font-family: Montserrat; font-size: small;">El propósito de la aplicación BraveKey es ayudar a los entusiastas de los teclados mecánicos a organizar su colección.</p><br>
  <p style="font-family: Montserrat; font-size: small;">Mediante esta útil aplicación, los usuarios podrán registrar los teclados de los que disponen, incluyendo los detalles
    específicos que requieren y que son necesarios en este hobby (switches mecánicos, pcbs, formatos...)
  </p>
<br>

<p style="font-family: Montserrat; font-size: small;">Si deseas una introducción a este mundillo, <a href="https://keyboard.university/">Keyboard university</a> es probablemente la mejor.</p>
  <ion-title class="ion-text-center"><strong>Tecnologías usadas</strong></ion-title>
  <ul>
    <a><ion-icon name="logo-ionic"></ion-icon></a>  Ionic<br><br>
    <a><ion-icon name="logo-firebase"></ion-icon></a>  Firebase<br><br>
    <a><ion-icon name="code-outline"></ion-icon></a>  Typescript<br><br>
    <a><ion-icon name="cloud-outline"></ion-icon></a>  Firestore<br><br>
    <a><ion-icon name="albums-outline"></ion-icon></a>  Ionicons
  </ul>

  <footer style="text-align: center; padding: 20px">
    <p>Aplicación realizada por <a color="primary" href="https://github.com/torrespedrob/BraveKey-Ionic-v2">Pedro Torres
        <ion-icon name="logo-github" color="warnings"></ion-icon></a></p>
  </footer>
    
</ion-content>